.lead {
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
 
  width: calc(100vw - 2px);
    height: 49.72vw; 
    max-height: 716px;
  /* !изменить высоту */
  background-image: url(../../image/lead.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 120px;
}